body {
    background-color: blanchedalmond;
}
form {
    margin: 0 auto;
    width: 300px;

  }
  
  ul {
    list-style: none;
  }
   
  label {
    text-align: left;
    font-weight: bold;
    margin-left: 2px;
  }
  
  button {
    margin-left: 5px;
    background-color: black;
    color: darkred;
    font-weight: bold;
    border-width: 1px;
    border-color:red;
  }