.header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  background-color:#8b0606bb;
  color: white;
  padding: 1%
}


.header img {
  display: block;
  height: 60px;
}

.wrapper{

display: flex;
align-items: center;
flex-direction: column;

}
.body_content{

  display: flex;
  justify-items: center;
  max-width: 960px;
  flex-flow: row wrap;
  justify-content: space-between;
}

.goals{
  /* background-color: white; */
  display: flex;
  width: 300px;
  flex: 0 1 auto;
  flex-flow: row wrap;
}
.goals img{

  max-width: 200px;
  max-height: 200px;
  border: 1px;
  border-radius: 4px;
 }

.goals p{
  /* margin: 1px; */
  /* padding: 8px; */
  background-color: white;
  align-items: baseline;
  align-self: center; 
  max-width: 200px;
  color: skyblue;
  border-radius: 5px;
}
.experience{
padding: 10px;
width: 600px;
border: 1px dashed #FF8E34;
background-color: #E88331;


}

body{

  background-color: rgba(128, 128, 128, 0.534);

}

h1, h2, h3, li {
  font-family: 'Averia Serif Libre', cursive;
  color: #06298b;
}




@media screen and (max-width: 1000px) {
  .header {
    background-color: #FFAA33;
  }

  .body_content {
    justify-content: center;
  }
  .goals {
    flex-grow: 5;
    flex-shrink: 0;
    justify-content: center;
  }
  .goals img {
    width: auto;
  }

  .experience {
    justify-content: center;
    
  }
  .goals p {
    max-width: 200px;
    margin: 10px;
    align-self: center;
  }
}